@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#container{
    width: 100%;
    margin: 0 auto;

}
a{

    text-decoration: none;
}
input[type=text], input[type=password] {
  width: 300px;
  padding: 12px 20px;
  margin: 12px 0;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;


}